#exclude c# stats from clogging most used languages

Asteroids/.vs/Asteroids/** linguist-vendored
Asteroids/Logs/** linguist-vendored
Asteroids/Packages/** linguist-vendored
Asteroids/ProjectSettings/** linguist-vendored
Asteroids/UserSettings/** linguist-vendored
Asteroids/obj/Debug/** linguist-vendored
